<header class="navbar">
    <div class="nav-left">
        <select>
            <option>straps</option>
        </select>
        <select>
            <option>accessories</option>
        </select>
    </div>

    <div>
        <img src="img/logo.png" alt="Pro Straps Logo" class="logo" />
    </div>

    <div class="nav-center">
  <div class="search-box">
    <input type="text" placeholder="search..." />
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-search" viewBox="0 0 16 16">
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 
        3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 
        6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
  </div>
</div>


<div class="nav-center">
  <div class="cart-box">
    <input type="text" placeholder="cart" />
    <button class="icon-button">0</button>
  </div>
</div>


    <div class="nav-right">
        <p>Menu</p>
        <button class="icon-button">☰</button>
    </div>
</header>
